{% extends "dashboardlayout.html" %}

{% block head %}
    <title>Welcome</title>
{% endblock %}

{% block body %}
    <h1>You are logged in as: {{session.get("name")}}</h1>

    <div>
        <ul>
            <li>
                <a href='/adminview'>Review Staff Permissions</a></li>
            </li>
        </ul>
    </div>

    <h2>IMDb User Status Table</h2>
    <p>This table is used to view and assign statuses to contributors who may be Trusted, Suspect, Kill-field (Shadow-banned) or Neutral</p>
    
    <div>
        <p>You can add a new user status by clicking below</p>
        <ul>
            <li>
                <a href='/dashboard/add'>Add new status</a></li>
            </li>
        </ul>
    </div>

    <table>
        <tr>
            <th>ID</th>
            <th>User Const</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Setting User ID</th>
            <th>Setting User Name</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        {% for status in user_status %}
        <tr>
            <td>{{ status.id }}</td>
            <td>{{ status.urconst }}</td>
            <td>{{ status.status }}</td>
            <td>{{ status.reason }}</td>
            <td>{{ status.setting_user_id }}</td>
            <td>{{ status.setting_user_name }}</td>
            <td><a href="/edit_status/{{ status.id }}">Edit</a></td>
            <td>
                <form method="POST" action="/delete_status/{{ status.id }}">
                    <input type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this status record?')">
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
    <li class="error">{{error}}</li>
{% endblock %}