{% extends "dashboardlayout.html" %}

{% block head %}
    <title>Edit User Perms</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-column">
    <h1 class="p-2">Edit Status</h1>
    <form method="POST" action="/edit_user/{{ user_to_edit.id }}" class="p-2">
        Editing data for: {{ user_to_edit.username }}<br><br>
        <label for="is_admin">Is Admin:</label>
        <select id="is_admin" name="is_admin" required>
            <option value="1">True</option>
            <option value="0">False</option>
        </select>
        Is currently admin? {{ user_to_edit.is_admin }}<br><br>

        <input type="submit" value="Update User">
    </form>
</div>
{% endblock %}