{% extends "layout.html" %}

{% block head %}
    <title>Login</title>
{% endblock %}

{% block body %}
<div class="d-flex flex-column">
    <h2 class="p-2">Login</h2>
    <form action="/login" method="post">
        <div class="p-2">
            <input autocomplete="off" required autofocus class="form-control" name="username" placeholder="Username" type="text">
        </div>
        <div class="p-2">
            <input class="form-control" required name="password" placeholder="Password" type="password">
        </div>
        <ol class="error">{{error}}</ol>
        <button class="btn btn-primary" type="submit">Log In</button>
    </form>
</div>
{% endblock %}


