{% extends "layout.html" %}

{% block head %}
    <title>Register</title>
{% endblock %}

{% block body %}
    <!-- TODO make use of bootstrap or similar for styling -->
    <h2>Register</h2>
    <form action="/register" method="post">
        <div>
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Username" type="text" required>
        </div>
        <div>
            <input name="password" placeholder="Password" type="password" required minlength="10">
        </div>
        <!-- TODO: Implement password confirmation -->
        <button type="submit">Register</button>
    </form>
{% endblock %}